1. ปัจจุบันถ้าลูกค้าของฉันจะชวนเพื่อนได้จะต้อง

1.1 เป็นลูกค้าและลิงค์บัญชีบน Telegram Bot ที่ฉันตั้งไว้ก่อน

1.2 ลูกค้าจะได้รูป member card และจะมีรหัสอยู่บนนั้น โดยที่ในรูปนี้จะมีคำอธิบายเชิญชวนเพื่อนๆ ให้มาซื้อสินค้าที่ร้านของเรา และคนชวนจะได้ xx แต้ม ส่วนคนมาซื้อก้จะได้ 50 แต้ม

2. loop คือ ลูกค้า A ไปชวนนาย B มาซื้อที่ร้าน

2.1 นาย B เข้ามาในร้านพร้อมโชว์รูป ทำให้แอดมินทราบว่าใครคือผู้ชวน

2.2 นาย B สั่งซื้อเกิน 500 บาท (นาย A ถึงจะได้แต้ม ถ้าน้อยกว่านี้จะไม่ได้) แอดมินทำการ /new B A ซึ่งระบบจะไปเช็คกับแคมเปญว่าเป็น Standard หรือมีแคมเปญอะไรอยู่หรือไม่ และแจกแต้มให้นาย A ไปจำนวน x แต้ม

2.3 นาย B จะได้ลิงค์ที่ถูกสร้างตอนที่แอดมินกดคำสั่ง /new B A ซึ่งหลังจากแอดมินกดคำสั่งนี้ แอดมินจะได้รับข้อความ ซึ่งข้อความก้สามารถ copy แล้วเอามาส่งให้นาย B ได้เลย

2.4 นาย B กดลิงค์ตามที่แอดมินแนะนำ ระบบพาไปตรวจสอบให้อัตโนมัติ เป็นอันจบ loop

3. ฉันอยากได้วิธีที่ดีกว่าด้านบน เพราะตอนนี้ฉันมี Mini App แล้ว ซึ่งอยากทำให้มันอัตโนมัติเกือบทั้งหมด

4. จะดีหรือไม่ถ้าแจกแต้มไปก่อน เช่น ถ้านาย A กดส่งลิงค์ พร้อมข้อความเชิญชวนเล็กน้อยไปให้นาย C

4.1 นาย C กดลิงค์ จะเด้งเข้ามาที่ Bot ตัวนั้นและเปิด Mini App และได้รับแต้มเลย

4.2 แต่นาย A จะยังไม่ได้รับแต้มจากการชวน เพราะนาย C ยังไม่ได้สั่งซื้อสินค้ากับเรา

5. ถ้านาย C กดสั่งซื้อสินค้าครั้งแรก นาย C จะต้องแจ้งรหัสสมาชิกของตัวเองให้กับแอดมิน

5.1 แอดมินจะรู้ว่านาย C เป็นลูกค้าใหม่ (เพราะปกติถ้าเป็นลูกค้าใหม่ เราจะยังไม่เปลี่ยนชื่อ แต่ถ้าลูกค้าที่เคยสั่งซื้อแล้ว แอดมินจะเปลี่ยนชื่อของลูกค้าเป็นรหัสลูกค้า) แต่จะไม่รู้ว่านาย C ถูกชวนมาถ้านาย C ไม่ส่งรหัสลูกค้าให้กับทางแอดมินได้ทราบ

6. แอดมินจะใช้คำสั่ง /refer [รหัสลูกค้า] [จำนวนเงิน] เช่น /refer C 500 เพื่อให้ระบบรับทราบว่านาย C ได้ทำการสั่งซื้อสินค้าแล้ว มูลค่า 500 บาท และให้โบนัสกับทางนาย A ได้เลย โดยโบนัสที่ให้จะต้องยึดตามวันที่นาย C ทำการสั่งซื้อ

7. แต่ตอนที่นาย C กดลิงค์และหลังสมัครสมาชิกเสร็จแล้ว ควรจะต้องมีรายละเอียดที่อ่านแล้วเข้าใจด้วยว่า ตอนสั่งซื้อสินค้ากับแอดมิน นาย C จะต้องแคปหน้าที่มีรหัสลูกค้าไปส่งให้กับแอดมินด้วย ไม่งั้นนาย A จะไม่ได้แต้ม

8. ถ้าแอดมินได้ใช้คำสั่ง /refer กับนาย C ไปแล้ว จะใช้ซ้ำอีกไม่ได้

9. สำหรับคำสั่ง /new จะยังคงใช้ได้ แต่จะตัดรหัสผู้แนะนำออกเลย (เพราะจะบังคับให้ไปใช้แบบใหม่ทั้งหมดแทน)

10. /new จะใช้กับลูกค้าที่ไม่มีคนแนะนำ เพื่อเพิ่มรหัสลงไปในระบบ

11. คำสั่ง /new จะทำการสร้างรหัสลูกค้าใหม่ขึ้นมาให้ทันที โดยแอดมินจะไม่สามารถเลือกรหัสเองได้แล้วหลังจากนี้ โดยระบบจะแจ้งข้อความกลับมาอัตโนมัติ เช่น



✅ รหัสสมาชิกของคุณลูกค้า!

👤 รหัสสมาชิก: TEST94

🔑 รหัสยืนยัน: 6554



👇 คุณลูกค้าสามารถแตะที่ลิงค์นี่ระบบจะเชื่อมต่อสมาชิกให้ทันที:

https://t.me/ONEHUB_Customer_Backup_Bot/app?startapp=link_TEST94_6554



เมื่อลูกค้ากดที่ลิงค์ระบบจะเชื่อมต่อให้ทันที และสิ่งที่คุณต้องคิดคือ ถ้าการชวนเพื่อนจะต้องมีรหัสลูกค้าก่อน เพราะการใช้ Magic link จำเป็นต้องใช้รหัสสมาชิกและรหัสยืนยันในการกรอกข้อมูลบน mini app คุณจะสร้างรหัสลูกค้ายังไง
และสร้างตอนไหน ต้องมีระบบป้องกันด้วย ไม่ให้ลูกค้ากดชวนเพื่อนเล่น เพราะสมมุติถ้าลูกค้ากด 10 ครั้ง แล้วระบบจะต้อง gen รหัสลูกค้าใหม่ 10 อัน มันดูจะเปลืองมากๆ